<div class="container">
	<nav class="navbar navbar-inverse bg-primary">
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	      <div class="navbar-nav">
	        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
	        <a class="nav-item nav-link" href="/saved">Saved Articles</a>
	        <button type="button" class="btn btn-danger" id="scrape-button">Scrape New Articles!</button>
	      </div>
	    </div>
	</nav>
	<div class="jumbotron">
		<h1>Mongo Scraper</h1>
		<h2>Scrape Recent Article Headlines!</h2>
	</div>
	<div class="row">
		<div class="col-lg-12">

			<!-- Scraped Data gets appended here! -->

		</div>
	</div>
</div>