<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modelAriaLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/{{this.id}}?_method=PUT" method="POST">
        <div class="form-group">
		    <label for="userComment">What are your thoughts?</label>
		    <textarea class="form-control" id="userComment" rows="3"></textarea>
		 </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
	<nav class="navbar navbar-inverse bg-primary" style="padding:10px;">
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	      <div class="navbar-nav">
	      	<a href="/"><button type="button" class="btn btn-primary" id="home-button">Home</button></a>
	        <a href="/"><button type="button" class="btn btn-primary" id="saved-button">Saved</button></a>
		    <a class="btn btn-danger" href="/scrape" id="scrape-button">Scrape New Articles!</a>
	      </div>
	    </div>
	</nav>
	<div class="jumbotron">
		<h1>Mongo Scraper</h1>
		<h2>Scrape Recent Article Headlines!</h2>
	</div>
	<div class="row">
		<div class="col-lg-12" id="allArticles">
			<!-- Scraped Data gets appended here! -->
			{{#each articles}}
				<form action="/articles" method="GET">
					<div class="panel panel-default" style="padding:20px; background-color:#A9EAFF; text-align:center;">
			          <h3>{{this.title}}</h3>
			          <a href="{{this.link}}"><p>Link to Article</p></a>
			          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Add Note</button>

			          <button type="submit" class="btn btn-default deleteButton">Delete Article</button>
			        </div>
		        </form>
			{{/each}}

			<!-- Saved Articles get appended here -->
		</div>
	</div>
</div>